body {
	font-family: 'Raleway', sans-serif;
}

p, 
h1,
h2, 
h3,
h4, 
ul {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

h4 {
	font-family: 'Noto Serif', serif;
}

h1,
h2,
h3 {
	text-transform: uppercase;
}

h2 {
	padding-top: 10px;
	padding-bottom: 20px;
	font-size: 0.9em;
}

p {
	line-height: 1.5;
}

img {
	width: auto;
	max-width: 100%;
	height: auto;
	display: block;
	text-align: center;
	object-fit: cover;
}

a {
	text-decoration: none;
	color: #000;
}

.wrapper {
	max-width: 70%;
	margin: 0 auto;
}

.header,
.featured-posts {
	background-color: #F6F7F9;
}

input[type=email] {
	font-family: 'Noto Serif', serif;
	color: grey;
	padding: 7px 12px;
	font-size: 0.8em;
}

.submit {
	background-color: #f00;
	color: #ddd;
	text-transform: uppercase;
	font-size: 0.7em;
	letter-spacing: 1px;
	margin: 0;
}

/* Box Shadow Hover Effect for Boxes */
.box {
  display: inline-block;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.5s cubic-bezier(0.15, 0.8, 0.5, 1);
  transition: all 0.5s cubic-bezier(0.15, 0.8, 0.5, 1));
}

.box::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.15, 0.8, 0.5, 1);
  transition: all 0.5s cubic-bezier(0.15, 0.8, 0.5, 1);
}

.box:hover {
  -webkit-transform: scale(1.025, 1.025);
  transform: scale(1.025, 1.025);
}

.box:hover::after {
    opacity: 1;
}

/* Styling placeholder font for email inputs*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari/ */
  font-family: 'Noto Serif', serif;
  font-size: 0.9em;
  text-align: center;
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: 'Noto Serif', serif;
  font-size: 0.9em;
  text-align: center;
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: 'Noto Serif', serif;
  font-size: 0.9em;
  text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
  font-family: 'Noto Serif', serif;
  font-size: 0.9em;
  text-align: center;
}

/* Top Nav Bar */
.top-nav-flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 7px 0;
}

.logo {
	position: relative;
	display: inline-block;
	font-size: 1.3em;
	z-index: 1;
}

.logo:hover {
	text-shadow: 1px 2px 1px rgba(0,0,0,0.2);
}

.nav {
	display: inline-block;
}

.top-nav li {
	display: inline-block;
	line-height: 35px;	
}

.top-nav li a {
	display: block;
	font-size: 0.7em;
	color: black;
	font-weight: 700;
	padding-right: 15px;
	text-transform: uppercase;
}

.top-nav li:last-child a {
	padding-right: 0;
}

.top-nav a.focus:link {
	font-weight: 900;
}

.top-nav li a:hover {
	font-weight: 900;
}

.hamburger-toggle {
  float: right;
  display: none;
  cursor: pointer;
}

.hamburger-toggle span {
  background: black;
  height: 2px;
  width: 28px;
  display: block;
  margin: 6px 0;
  -webkit-transition: .5s;
  transition: .5s
}

.hamburger-toggle.x-toggle span:nth-child(2) {
    opacity: 0;
}

.hamburger-toggle.x-toggle span:nth-child(1) {
   -webkit-transform: rotate(45deg);
    transform-origin: 5px 9px;
   -webkit-transform: rotate(45deg);
    transform-origin: 5px 9px;
}

.hamburger-toggle.x-toggle span:nth-child(3) {
   -webkit-transform: rotate(-45deg);
    transform-origin: 8px -7px;
   -webkit-transform: rotate(-45deg);
    transform-origin: 8px -7px;
}

/* Main Banner */
.main-banner {
	min-height: 500px;
	width: 100%;
	background: white url(../assets/image-main.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-banner-text {
	background-color: rgba(255, 255, 255, 0.70);
	height: 60%;
	width: 60%;
	text-align: center;
	padding: 50px;
}

.main-banner-text h1 {
	font-size: 1.5em;
}

.main-banner-text h4 {
	margin-bottom: 10px;
	font-size: 0.8em;
}

.main-banner-text p {
	font-size: 0.8em;
}

/* Main Posts */
.featured-posts,
.blog-posts {
	text-align: center;
	padding-top: 35px;
	padding-bottom: 40px;
}

.post {
	margin-bottom: 10px;
	width: 100%;
}

.post h3 {
	font-size: 0.7em;
}

.post h4{
	font-size: 0.55em;
	margin-bottom: 10px
}

.post p {
	font-size: 0.4em;
}

.post a {
	font-size: 0.5em;
	text-transform: uppercase;
	font-weight: 700;
	color: #f00;
}

.post a:hover {
	font-weight: 900;
}

.post-content {
	padding: 15px;
}

.overlay-container {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: rgba(255, 0, 0, 0.7);
}

.overlay-container:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.overlay-text .overlay-link {
  color: white;
  font-size: 0.8em;
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* Featured Posts */
.featured-posts ul {
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1.5em;
	padding: 0;
}

.featured-posts .post-content {
	background-color: #fff;
}

/* Blog */
.blog-posts .post-content {
	background-color: #F6F7F9;
}

.main-blog-grid {
	display: grid;
	grid-template-areas: 
		"blog blog sidebar";
	grid-gap: 1.5em;
}

.blog-grid {
	grid-area: blog;
	display: grid;
	grid-template-areas:
		"post1 post1"
		"post2 post3"
		"cnav cnav";
	grid-gap: 1.5em;
}

.post1 {
	grid-area: post1;
}

.post2 {
	grid-area: post2;
}

.post3 {
	grid-area: post3;
}

/* Sidebar */
.sidebar {
	grid-area: sidebar;
}

.sidebar-subscribe {
	text-align: center;
}

.sidebar-subscribe * {
	width: 100%;
	border: none;
	height: 100%;
	padding: 8px 0;
	margin-bottom: 5px;
}

.sidebar-email {
	background-color: #F6F7F9;
}

.recent-posts li {
	text-align: left;
	font-size: 0.4em;
	line-height: 2.8em;
}

.recent-posts ul {
	padding-left: 10px;
	list-style-type: disc;
}

/* Blog Circle Numbers Nav*/
.page-numbers {
	grid-area: cnav;
}

.circle-nav {
	list-style: none;
	margin-top: 20px;
	margin-bottom: 40px;
	padding-left: 0;	
}

.circle-nav li {
	display: inline-block;
	background-color: #F6F7F9;
	width: 30px;
	height: 30px;
	margin-left: 3px;
	padding-top: 5px;
	text-align: center;
	border-radius: 50%;
	font-weight: 700;
	font-size: 0.9em;
}

.circle-nav li:hover {
	background-color: #bbb;
}

.circle-nav li.focus {
	background-color: #bbb;
}

/* Footer Main */
.footer-main {
	background-color: #444;
}

.footer-grid-main {
	display: grid;
	grid-template-columns: 3fr 1fr 4fr;
	grid-gap: 30px;
	padding: 40px 0;
}

.footer-grid-main p,
.footer-grid-main h3,
.footer-grid-main a {
	color: #eee;
}

.footer-grid-main p {
	font-size: 0.5em;
}

.footer-grid-main h3 {
	font-size: 0.8em;
	margin-bottom: 10px;
	font-weight: 700;
}

.bottom-nav {
	list-style: none;
	padding: 0;
}

.bottom-nav li {
	font-size: 0.7em;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.7em;
}

.bottom-nav a:hover {
	font-weight: 900;
}

.bottom-nav a.focus:link {
	font-weight: 900;
}

.footer-subscribe p {
	margin-bottom: 7px;
}

.bottom-subscribe {
	height: 50px;
}

.bottom-subscribe *{
	border: none;
	height: 100%;
	padding: 8px 0;
}

.footer-email {
	width: 60%;
}

.footer-submit {
	width: 30%;
}

/* Bottom Black Bar */
.footer-bottom {
	background-color: #221F1F;
	color: #eee;
	padding: 12px 0;
}

.footer-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.copyright {
	float: left;
}

.copyright p {
	font-size: 0.7em;
}

.icons {
	float: right;
}

.icons * {
	color: #eee;
	font-size: 0.9em;
	padding-left: 0.5em;
}

.icons *:hover {
	color: #d00;
}

/* desktop */
@media only screen and (max-width: 1280px) {
	.wrapper {
		max-width: 80%;
		margin: 0 auto;
	}

	.main-banner-text {
		height: 70%;
		width: 70%;
	}
}

/* tablet */
@media only screen and (max-width: 780px) {
	.top-nav-flex {
		display: initial;
		padding: 1px;
		text-align: center;
	}

	.top-nav-flex .logo,
	.nav {
		display: block;
	}

	.nav {
		text-align: center;
		padding-top: 6px;
		padding-left: 0;
	}

	.top-nav li a {
		font-size: 0.8em;
	}

	.featured-posts ul {
		grid-template-columns: 1fr 1fr;
	}

	.main-blog-grid {
		grid-template-areas: 
			"blog"
			"sidebar";
		grid-gap: 1em;
	}

	.sidebar {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 1.5em;
	}
	
	.main-banner {
		min-height: 400px;
	}

	.main-banner-text {
		height: 90%;
		width: 80%;
	}

	.main-banner-text p {
		font-size: 0.7em;
	}

	.recent-posts li {
		font-size: 0.68em;
	}

	.footer-grid-main {
		grid-template-columns: 3fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

	.footer-subscribe {
		grid-column: 1/3;
		grid-row: 2; 
	}
}


/* mobile */
@media only screen and (max-width: 480px) { 
	.wrapper {
		width: 75%;
	}

    .logo {
        float: left;
        padding: 10px 0;
    }

    .hamburger-toggle {
        display: block;
        position: relative;
        z-index: 2;
        padding: 10px 0;
    }

   .nav {
        text-align: center;
        padding-top: 80px;
        position: absolute;
        -webkit-transform: translate(-100%);
        transform: translate(-100%);
        right: 0;
        left: 0;
        background-color: #F6F7F9;
        height: 100vh;
        -webkit-transition: .3s;
        transition: .3s;
        opacity: 0;
    }
    .nav.res-menu {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    .nav ul li {
        display: block;
        line-height: 50px;
    }
   .nav ul li a {
        padding: 0;
        font-size: 1em;
    }

    .nav ul li a:hover {
    	background-color: #fff;
    }

    .featured-posts ul {
    	grid-template-columns: 1fr;
    }

    .blog-grid {
    	grid-template-areas:
    		"post1"
    		"post2"
    		"post3"
    		"cnav";
    }

    .sidebar {
    	grid-template-columns: 1fr;
    }

    .main-banner-text p {
    	font-size: 0.6em;
    }

    .main-banner-text {
    	height: 70%;
    	width: 85%;
    	padding: 30px;
    }

    .main-banner {
    	min-height: 360px;
    }

    .nav li {
    	font-size: 0.7em;
    	padding-right: 5px;
    }

    .footer-grid-main {
    	grid-template-columns: 1fr;
    	grid-template-rows: 3fr 1fr 4fr;
    	grid-gap: 2.2em;
    }

    .footer-subscribe {
    	grid-row: 3;
    }

    .footer-nav {
    	grid-row: 2;
    }

    .bottom-nav {
    	display: flex;
    	align-items: center;
    	justify-content: space-between;
    	flex-wrap: wrap;
    }

    .bottom-nav * {
    	display: inline-block;
    }

    .bottom-nav li {
    	font-size: 0.65em;
    	padding-right: 4px;
    }

    .bottom-nav li:last-child {
    	padding: 0;
    }
}
